.floating {
    --offset: -10px;
    animation: float 5s ease 0s infinite;
}

.stagger1 {
    animation-delay: 1s;
    scale: var(--scale) 1 1;
}

.stagger2 {
    animation-delay: .3s;
}

.stagger3 {
    animation-delay: .4s;
    animation-direction: reverse;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(var(--offset));
    }

    100% {
        transform: translateY(0px);
    }
}