
.animateStroke {
    animation-name: strokeOffset;
    animation-timing-function: ease;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes strokeOffset {
    0% {
        stroke-dashoffset: 80;
        opacity: .3;
    }

    20% {
        opacity: 1;
    }

    30% {
        scale: 1.05;
        stroke-dashoffset: 0;
    }

    70% {
        scale: 1.05;
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100% {
        scale: 1;
        stroke-dashoffset: -80;
        opacity: .3;
    }
}